body {
  background-color: #8cc1ed;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: red;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
  color: darkred;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

a:link {color: red; text-decoration: underline; }
a:active {color: red; text-decoration: underline; }
a:visited {color: purple; text-decoration: underline; }
a:hover {color: blue; text-decoration: none; }

.headerlinks {
  color: red;
  text-align: center;
}
